---
layout: base.njk 
---
<div id="progressBar" class="progress-bar" style="width: 0%"></div>
<article class="main-article">
  <div class="container container--narrow flow">
    <h1 class="article-title">
      {{title}}
    </h1>
    <p>About {{ content | readingTime }} reading time </p>
    {# For generating tags in individual blogs #}
    <ul>
      {% for tag in tags | filterTagList %}
          <li>
            <a href="/tags/{{ tag | slugify }}/">{{tag}}</a>
            {# href from pagination permalink #}
          </li>
      {% endfor %}
    </ul> 
    
      <figure class="main-article__figure">
        <img src="{{image}}" alt="{{imageAlt}}">
        <figcaption>
          {{imageAlt}}
        </figcaption>
      </figure>
    {{content | safe}}
    
     {# next and prev post buttton #}
    {% set posts = collections.posts %}
    {% set index = 0 %}
    {% for p in posts %}
      {% if p.url == page.url %}
        {% set index = loop.index0 %}
      {% endif %}
    {% endfor %}

    {% set previousPost = posts[index + 1] %}
    {% set nextPost = posts[index - 1] %}

    <nav class="post-nav">
      {% if previousPost %}
        <a href="{{ previousPost.url }}" class="btn btn--primary">← {{ previousPost.data.title }}</a>
      {% endif %}
      {% if nextPost %}
        <a href="{{ nextPost.url }}" class="btn btn--primary">{{ nextPost.data.title }} →</a>
      {% endif %}
    </nav>
  </div>

</article>
<div>
  {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}
{% if previousPost %}Previous Blog Post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
{% if nextPost %}Next Blog Post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
</div>