---
title: Contact
pagination:
  data: collections.accounting
  size: 2
  alias: accounting
---

<h1 class="section-title">Accounting articles</h1>
<ul role="list" class="articles__list flow">
  {%- for post in accounting -%} {% include "article-snippet.njk" %} {%endfor %}
</ul>
<!-- <div class="section container">
  
</div> -->
<!-- {% if pagination.href.previous %}<a
  href="{{ pagination.href.previous }}"
  class="btn btn--primary"
  >Previous</a
>{% else %}{% endif %} {% if pagination.href.next %}<a
  href="{{ pagination.href.next }}"
  class="btn btn--primary"
  >Next</a
>{% else %}{% endif %} -->
