---
layout: base.njk
title: Blog Page
---

<div class="section container">
  <h1 class="section-title">Recent articles</h1>
  <ul role="list" class="articles__list flow">
    {% for post in collections.post | reverse %} {% if loop.index0 < 3 %} {% include
"article-snippet.njk" %} {% endif %}  {% endfor %}
  </ul>
</div> 
{# {% for post in collections.post | reverse %} {% if loop.index0 < 3 %} {% include
"article-snippet.njk" %} {% endif %}  {% endfor %} #}
